<%- include("partials/header") -%>
<form action="/" method="post">
    <label for="cityInput" class="data">City Name</label>
    <input id="cityInput" type="text" name="cityName">
    <button type="submit" class="data submit-btn">Go</button>
</form>
<br><br>

<%- include("partials/footer") -%>