*{
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
    height: 100%;
}

header {
    background-color: rgba(43, 58, 199, 0.884);
    margin: auto -16px;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
  
header h1 {
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 200;
}

.data{
    font-family: 'Michroma', sans-serif;
    width: 70%;
    padding: 10px;
    height:100%;
    text-align: center;
    background-color: whitesmoke;
    color: rgba(43, 58, 199, 0.884);
    align-self: center;
}

.submit-btn {
    width: 50px;
    height: 38px;
    background-color: rgba(43, 58, 199, 0.884);
    color: whitesmoke;
    border: none;
}

#cityInput{
    width: 200px;
    height: 38px;
}
.icon {
    background-color: darkgray;
    border-radius: 100%;
}